/* .cart-container{
  max-width: 100%;
  justify-content:space-around;
  margin: auto 0;
} */
.header-cart {
  width: 100%;
  /* display: inline-flex; */
  background-color:#1964af;
  color: white;
  
 
}

.til{
  
color: white;
}

.hd-cart-item{
  width: 35%;
}
.hd-cart-price{
  width: 25%;
}

.hd-cart-qty{
  width: 15%;
  text-align: center;
}
.hd-cart-total{
  width: 25%;
}

/* .hd-cart-item{
  text-align: center;
  padding-left: 140px;
}
.hd-cart-price{
text-align: center;
padding-left: 400px;
} */
/* .hd-cart-qty{
text-align: center;
padding-left: 120px;
}
.hd-cart-total{
text-align: center;
padding-left: 100px;
} */
/* .cart-item-img{
margin-left: 50px;
}
.butt-cart-delete{
margin-left: 50px;
} */
.butt-cart-delete{
  /* display: inline-block; */
  /* margin-left: 50px; */
  border-radius: 5px;
  font-size: 10px;
  border: none;
  color: aliceblue;
  font-weight: bold;
  position: absolute;
  height: 14px;
  width: 14px;
  background: black;
  padding: 0;
  text-align: center;


}
.cart-item-img{

  width: 50px;
  height: 50px;
  
  /* text-align: center; */
}
.cart-item-name{
  
  display: inline;
  font-size: 14px;
  margin-left: 10px;
  
}
/* .cart-item-price{
  display: inline-block;
  align-items:flex-start;
} */
.cart-item-total{
  /* display: inline-block; */

}
.cart-input{
  display: inline-block;
}
.cart-input-number{
  width: 30px;
  border: none;
  margin-left: 50px;
}

.total-container{
  float: right;
  margin-top:50px;
  /* margin-right: 100px; */
  font-size: 20px;
  color: #1964af;
  font-weight: 700;
}
.butt-cart-checkout{
  margin-top: 50px;
  /* margin-left: 950px; */
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
  border-radius: 10px;
  background-color: #1964af;
}
.butt-cart-checkout:hover{
  background-color:#2076c7;
}
.bg{
  background-color: #1964af;
 
}
.notice{
  font-size: 25px;
  font-weight: 800;
}

.btn-check{
float: right;
margin-top: 20px;
margin-right: 190px;
}

